
/* center alings everything */
* {
    box-sizing: border-box;
    text-align: center;

  }

Body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    line-height: 5px;   /* grey space between cells */
    
     /* font-family: Helvetica Neue not found */
}

Header, Nav, Section, Aside, and Footer {
    background: #ebebeb;
}

header {
height: 80px;
line-height: 36px;
}

Nav {
    height: 80px;
    line-height: 36px;  
}

section {

    width: 495px;
}

Aside {
  float: right;
  width: 80px;
  height: 200px;
  padding: 150px;
  background:#ebebeb;
  line-height: 5px;

}

Article {
    color: #ebebeb;
    background: #777;
}

h1 and p {
    color: #777;
    background: #ebebeb;
}
/* added padding and cleard footer */
Footer {
    background: #ebebeb;
    height: 80px;
    padding: 20px;
    clear: both;
}