
 #container { 
    /* background-color: aqua;  */
 }

body {
    background: #777;
    color: #777;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-left: 250px;
    text-align: center;
    width: 960px;
}

header {
    padding-top: 30px;
    padding-bottom: 30px;
    background: #ebebeb;
}

nav {
    background: #ebebeb;
    margin-bottom: 0px;
    margin-top: 10px;
    padding-bottom: 30px;
    padding-top: 30px; 
}

aside {
  background: #ebebeb;
  float: right;
  height: 265px;
  margin-bottom: 15px;
  margin-top: 15px;
  padding-top: 35px;
  width: 425px;
}

section {
    background: #ebebeb;
    float: left;
    height: 250px;
    margin-bottom: 15px;
    margin-top: 15px;
    padding-bottom: 15px;
    padding-top: 35px;
    padding-left: 10px;
    padding-right: 10px;
    width: 495px;
}

article {
    background: #777;
    color: #ebebeb;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
}

h1 {
    background: #ebebeb;
    color: #777;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 15px;
    padding-top: 15px;
}

p {
    background: #ebebeb;
    color: #777;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 15px;
    padding-top: 15px;
}

footer {
    background: #ebebeb;
    clear: both;
    margin-bottom: 30px;
    padding: 30px;
   
}